@page "/SignIn"
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Identity;
@using BlazorServerIdentityInterop.Areas.Identity.Data;
@using Microsoft.AspNetCore.Antiforgery;
@using Microsoft.JSInterop;

@inject NavigationManager navman;
@inject UserManager<BlazorServerIdentityInteropUser> _userManager
@inject IJSRuntime _jsruntime;
@inject IAntiforgery Xsrf;

<AuthorizeView>
    <NotAuthorized Context="NotAuthed">
        <h1 class="text-center">Sign In</h1>
        <div class="container text-center">
            <EditForm EditContext="@_editContext" OnValidSubmit="@ValidSubmit" OnInvalidSubmit="@InvalidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <hr />
                <div class="container px-1" style="width: 55%; margin-left: 75px;">
                    <div class="form-group row text-right ">
                        <div class="col">
                            <label>
                                Email Address
                                <InputText @bind-Value="Input.Email" />
                            </label>
                        </div>
                    </div>
                    <div class="form-group row text-right">
                        <div class="col">
                            <label>
                                Password
                                <InputText type="password" @bind-Value="Input.Password" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label>
                            Remember Me?
                            <InputCheckbox @bind-Value="Input.RememberMe" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-primary" disabled="@isSubmitButtonDisabled">Sign in</button>
                    </div>
                    <div class="col text-left">
                        <button type="button" class="btn btn-danger" @onclick="Cancel">Cancel</button>
                    </div>
                    @if (showClearErrors)
                    {
                        <div class="col text-left">
                            <button type="button" class="btn btn-info" @onclick="ClearErrors">Clear Errors</button>
                        </div>
                    }

                </div>
            </EditForm>
        </div>
    </NotAuthorized>
    <Authorized Context="Authed">
        @Home()
    </Authorized>
</AuthorizeView>


@code {
    [CascadingParameter] public Task<AuthenticationState> authenticationStateTask { get; set; }
    private string AntiForgeryToken { get; set; }


    public class InputModel
    {
        [Required] // @using System.ComponentModel.DataAnnotations;
        [EmailAddress]
        public string Email { get; set; }

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; }

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }
    }

    private InputModel Input = new InputModel();

    private EditContext _editContext;

    private bool isSubmitButtonDisabled { get; set;  }

    private bool showClearErrors { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _editContext = new EditContext(Input);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            #region Interop
            var interop = new Interop(_jsruntime);
            AntiForgeryToken = await interop.GetElementByName("__RequestVerificationToken");
            #endregion
        }

        await base.OnAfterRenderAsync(firstRender);
        return;
    }

    public async void ValidSubmit()
    {
        // This does work, but is unsupported in Blazor
        var user = _editContext.Validate() && await ServerValidate(_editContext);
        if (!user)
        {
            // invalid user supplied;
            showClearErrors = true;
            isSubmitButtonDisabled = true;
            return;
        }


        #region Interop
        // This action never reports failure, so that is why it didn't go into ServerValidate.
        var fields = new
        {
            __RequestVerificationToken = AntiForgeryToken
        ,
            email = Input.Email,
            password = Input.Password,
            remember = Input.RememberMe,
            returnurl = "/SignIn"
        };
        var interop = new Interop(_jsruntime);
        await interop.SubmitForm("Identity/Account/Login", fields);
        HttpResponseMessage response = new HttpResponseMessage();
        #endregion

        if (!response.IsSuccessStatusCode)
        {
            return;
        }
    }

    public void InvalidSubmit()
    {
        _editContext = new EditContext(Input);
        return;
    }

    public void ClearErrors()
    {
        _editContext = new EditContext(Input);
        isSubmitButtonDisabled = false;
        showClearErrors = false;

    }
    public void Cancel()
    {
        navman.NavigateTo("/");
    }

    // Methods called from Razor code must return an object.

    /// <summary>
    /// Methods called from Razor code must return an object, so Cancel() can't be used.
    /// So there is Home() instead, and it calls Cancel()
    /// </summary>
    /// <returns></returns>
    public string Home()
    {
        Cancel();
        return string.Empty;
    }

    /// <summary>
    /// Runs a series of test on the server and returns pass fail.
    /// </summary>
    /// <param name="editContext"></param>
    /// <returns></returns>
    private async Task<bool> ServerValidate(EditContext editContext)
    {
        // local property of the model
        var input = (InputModel)editContext.Model;

        // local error store
        var validationErrors = new ValidationMessageStore(editContext);

        // First test
        var user = await _userManager.FindByNameAsync(Input.Email);
        if (user == null)
        {
            var field = new FieldIdentifier(input, nameof(Input.Email));
            validationErrors.Add(field, "User name does not exist, try again");
            editContext.NotifyValidationStateChanged();
            return false;
        }

        //Second test
        var result = await _userManager.CheckPasswordAsync(user, Input.Password);
        if (!result)
        {
            var field = new FieldIdentifier(input, nameof(Input.Email));
            validationErrors.Add(field, "Password incorrect");
            editContext.NotifyValidationStateChanged();
            return false;
        }

        return true;
    }
}
